<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Pantry - Recipe Generator</title>

    <link rel="stylesheet" href="../static/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="../static/logo.png" alt="Logo" width="125px">
            <h1 style="color: rgb(228, 82, 56);">Easy Pantry</h1>
        </div>
    </div>

    <h1>RECIPES</h1>
    <form method="post">
        <input type="text" name="" id="input_text" placeholder="Ingredients: eg. egg, soy sauce">
    </form>

    <footer>
        <div class="rowA">
            <div class="info">
                <p>A personal project by Adzrul Danin</p>
                <p>For educational purposes only</p>
                <p>Exelerate Asia Python Programming Bootcamp</p>
            </div>
            <div class="AttachmentLogos">
                <img src="../static/ExelerateAsia_logo.png" alt="ExelerateAsia">
                <img src="../static/GA Academy_logo.png" alt="GA Academy" style="margin-left: 10px;">
                <img src="../static/GitHub_logo.png" alt="Github Profile" style="margin-left: 10px;">
                <img src="../static/LinkedIn_logo.png" alt="Linkedin profile" style="margin-left: 10px;">
            </div>
        </div>
    </footer>
</body>
</html>